{% extends "base.html" %}
{% load static %}
{% block title %}Bảng Giá Kim Cương{% endblock %}
{% block pageBangGiaKimCuong %}
<body>  
    <div class="price-table">
      <h1>Bảng Giá Bán Hàng</h1>
      <table>
        <tbody>
          <tr>
            <td>
              <img src="{% static 'app/image/anhbanggia/1.jpg' %}" alt="Sản phẩm 1">
              <p>Nhẫn nữ hột xoàn tự nhiên Lucentia giá tốt</p>
              <p>81.400.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/2.jpg' %}" alt="Sản phẩm 2">
              <p>Nhẫn kim cương cầu hôn Lune vẻ đẹp</p>
              <p>35.000.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/3.jpg' %}" alt="Sản phẩm 3">
              <p>Nhẫn nam đính kim cương Dominatus độc đáo</p>
              <p>39.6000.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/4.jpg' %}" alt="Sản phẩm 44">
              <p>Nhẫn nữ kim cương Vernalis đẹp kiêu sa</p>
              <p>67.800.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/5.jpg' %}" alt="Sản phẩm 5">
                  <p>Nhẫn cầu hôn hột xoàn Ornatus trang nhã</p>
                  <p>44.500.00 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/6.jpg' %}" alt="Sản phẩm 6">
                  <p>Mẫu nhẫn kim cương nam Praestans nổi bật</p>
                  <p>45.500.00 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/7.jpg' %}" alt="Sản phẩm 7  ">
                  <p>Nhẫn nữ kim cương tự nhiên Lux bản to</p>
                  <p>68.250.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/8.jpg' %}" alt="Sản phẩm 8">
                  <p>Nhẫn cầu hôn kim cương đẹp tinh tế Aeterna</p>
                  <p>35.400.00 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/9.jpg' %}" alt="Sản phẩm 9">
                  <p>Nhẫn nam đính kim cương được ưa chuộng </p>
                  <p>81.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/10.jpg' %}" alt="Sản phẩm 10">
                  <p>Nhẫn hột xoàn nữ Eternity 1CT đẹp vĩnh cửu </p>
                  <p>38.000.000</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/11.jpg' %}" alt="Sản phẩm 11">
                  <p>Nhẫn đính hôn kim cương Purus sang trọng cho ngày đám hỏi </p>
                  <p>19.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/12.jpg' %}" alt="Sản phẩm 12">
                  <p>Nhẫn kim cương baguette nam đẳng cấp thời thượng</p>
                  <p>35.800.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
        </tbody>
  
        <tbody>
          <tr>
            <td>
              <img src="{% static 'app/image/anhbanggia/13.jpg' %}" alt="Sản phẩm 13">
              <p>Nhẫn kim cương Catalina đẹp</p>
              <p>60.600.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/14.png' %}" alt="Sản phẩm 14">
              <p>Mẫu nhẫn nữ kim cương Isadora vàng</p>
              <p>25.500.000</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/14.png' %}" alt="Sản phẩm 15">
              <p>Nhẫn kim cương to Solitaire vàng trắng 18K  </p>
              <p>27.800.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/16.png' %}" alt="Sản phẩm 16">
              <p>Nhẫn kim cương nữ Seraphina vàng hồng 18K</p>
              <p>26.000.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/17.png' %}" alt="Sản phẩm 17">
                  <p>Siêu phẩm nhẫn kim cương nam Halo</p>
                  <p>145.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/18.jpg' %}" alt="Sản phẩm 18">
                  <p>Nhẫn kim cương nam to hút tài lộc Marcella</p>
                  <p>150.600.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/19.png' %}" alt="Sản phẩm 19  ">
                  <p>Nhẫn kim cương Emilia vàng trắng 18k đẹp</p>
                  <p>62.200.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/20.png' %}" alt="Sản phẩm 20">
                  <p>Nhẫn cầu hôn kim cương bản nhỏ Genevieve</p>
                  <p>20.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/21.png' %}" alt="Sản phẩm 21">
                  <p>Nhẫn kim cương nam Odette vàng trắng </p>
                  <p>42.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/22.jpg' %}" alt="Sản phẩm 22">
                  <p>Nhẫn đính kim cương nam đẹp vàng trắng 18k</p>
                  <p>68.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/23.png' %}" alt="Sản phẩm 23">
                  <p>Nhẫn kim cương cầu hôn Scalloped Pave ý</p>
                  <p>26.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/24.png' %}" alt="Sản phẩm 24">
                  <p>Nhẫn kim cương đá quý Rafaela đẳng cấp quý ông</p>
                  <p>58.2000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
        </tbody>
  
        <tbody>
          <tr>
            <td>
              <img src="{% static 'app/image/anhbanggia/25.png' %}" alt="Sản phẩm 25">
              <p>Nhẫn kim cương đính hôn Isabella đẹp thu hút</p>
              <p>27.500.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/26.png' %}" alt="Sản phẩm 26">
              <pNhẫn kim cương Paloma dành cho quý ông></p>
              <p>71.500.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/27.png' %}" alt="Sản phẩm 27">
              <p>Nhẫn kim cương quý ông Sabina đẹp đơn giản</p>
              <p>102.000.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
            <td>
              <img src="{% static 'app/image/anhbanggia/28.png' %}" alt="Sản phẩm 28">
              <p>Nhẫn hột xoàn nam Melisande phong thủy</p>
              <p>79.000.000 đ</p>
              <button class="buy-button">Mua hàng</button>
            </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/29.png' %}" alt="Sản phẩm 29">
                  <p>Nhẫn nam đính hột xoàn vàng Daphne cao cấp</p>
                  <p>556.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/30.jpg' %}" alt="Sản phẩm 30">
                  <p>Nhẫn xoàn nam Nadia vàng 18K nhập khẩu</p>
                  <p>56.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/31.png' %}" alt="Sản phẩm 31">
                  <p>Nhẫn kim cương nam Silvia đẳng cấp, thời thượng</p>
                  <p>42.500.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/32.png' %}" alt="Sản phẩm 32">
                  <p>Nhẫn hột xoàn nam Tilda giá rẻ, đẹp nhất hiện nay</p>
                  <p>38.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
          <tr>
              <td>
                  <img src="{% static 'app/image/anhbanggia/33.png' %}" alt="Sản phẩm 33">
                  <p>Nhẫn nam kim cương tấm vàng hồng 18k Elysia lịch lãm</p>
                  <p>92.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/34.png' %}" alt="Sản phẩm 34">
                  <p>Nhẫn hột xoàn nhỏ đẹp Evangeline độc đáo</p>
                  <p>28.000.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/35.png' %}" alt="Sản phẩm 35">
                  <p>Nhẫn kim cương nam Giselle vàng trắng 18k </p>
                  <p>27.600.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
                <td>
                  <img src="{% static 'app/image/anhbanggia/36.jpg' %}" alt="Sản phẩm 36">
                  <p>Nhẫn nữ đính hột xoàn Clarissa đẳng cấp </p>
                  <p>132.200.000 đ</p>
                  <button class="buy-button">Mua hàng</button>
                </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  </html>
{% endblock %}