{% extends "base.html" %}
{% load static %}
{% block title %}Trang Chủ{% endblock %}
{% block home %}
        <!-- slider section starts -->
<div class="slider_area slider_black owl-carousel">
    <div class="single_slider" data-bgimg="{% static 'app/image/slider1.png' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <p>Ưu đãi đặc biệt - Giảm 20% trong tuần này</p>
                        <h1>Dây chuyền</h1>
                        <span>Dây chuyền vàng 22 karat cho đám cưới</span>
                        <p class="slider_price">Bắt đầu từ <span>75.999.000 đ</span></p>
                        <a href="#" class="button">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single_slider" data-bgimg="{% static 'app/image/slider2.jpg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <p>Ưu đãi đặc biệt - Giảm 40% trong tuần này</p>
                        <h1>Bông tai và Mặt dây chuyền</h1>
                        <span>Bộ trang sức cô dâu hoàn chỉnh với ngọc trai trắng</span>
                        <p class="slider_price">Bắt đầu từ <span>89.499.000 đ</span></p>
                        <a href="#" class="button">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single_slider" data-bgimg="{% static 'app/image/slider3.jpg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="slider_content">
                        <p>Ưu đãi đặc biệt - Giảm 10% trong tuần này</p>
                        <h1>Nhẫn cưới</h1>
                        <span>Nhẫn cưới.</span>
                        <p class="slider_price">Bắt đầu từ <span>14.999.000 đ</span></p>
                        <a href="#" class="button">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider section ends -->

        <!-- slider section ends -->
        <!-- banner section starts -->
        <section class="banner_section banner_black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_banner">
                            <div class="banner_thumb">
                                <a href="#"><img src="{% static 'app/image/bg-1.jpg'%}" alt="banner1"></a>
                                <div class="banner_content">
                                    <p>Thiết kế mớ</p>
                                    <h2>Nhẫn thiết kế nhỏ</h2>
                                    <span>Giảm giá 20% </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_banner">
                            <div class="banner_thumb">
                                <a href="#"><img src="{% static 'app/image/bg-2.jpg'%}" alt="banner2"></a>
                                <div class="banner_content">
                                    <p>Nhẫn bán chạy nhất</p>
                                    <h2>Nhẫn vàng trắng</h2>
                                    <span>Giảm giá 10% </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_banner">
                            <div class="banner_thumb">
                                <a href="#"><img src="{% static 'app/image/bg-3.jpg'%}" alt="banner3"></a>
                                <div class="banner_content">
                                    <p>Nhẫn nổi bật</p>
                                    <h2>Nhẫn bạch kim</h2>
                                    <span>Giảm giá 30% </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner section ends -->
                <!-- banner full width start -->
                <section class="banner_fullwidth black_fullwidth" style="background: url('{% static 'app/image/banner2222.jpg' %}') ;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="banner_text">
                                    <p>Giảm giá 20% tất cả sản phẩm</p>
                                    <h2>BST xu hướng mới</h2>
                                    <span>Thiết kế đẹp nhất làm bạn trở nên đặc biệt hơn.</span>
                                    <a href="#">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner full width end -->
<!-- product section area starts -->
<section class="product_section p_section1 product_black_section bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Sản phẩm bán chạy nhất</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product_area">
                    <div class="product_container">
                        <div class="row list_product">
                            {% for product in products %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="single_product">
                                    <div class="product_thumb" data-id="{{ product.product_id }}">
                                        <a href="#" class="primary_img">
                                            <img src="{{ product.product_image_first }}" alt="product1">
                                        </a>
                                        <a href="#" class="secondary_img">
                                            <img src="{{ product.product_image_second }}" alt="product2">
                                        </a>
                                        <div class="quick_button">
                                            <a href="#" class="quick_view_button" data-toggle="modal" data-target="#modal_box"
                                                data-id="{{ product.product_id }}" 
                                                data-name="{{ product.product_name }}" 
                                                data-price="{{ product.product_price }}" 
                                                data-description="{{ product.product_description }}" 
                                                data-imagefirst="{{ product.product_image_first }}">
                                                Xem Nhanh
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="tag_cate">
                                            <a class="product_description" href="#">{{ product.product_description }}</a>
                                        </div>
                                        <h3><a href="#">{{ product.product_name }}</a></h3>
                                        <div class="price_box">
                                            <span class="current_price">{{ product.product_price }} VND</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Giỏ hàng (Cart Item) đặt trong vòng lặp -->
                            <div class="cart_item">
                                <div class="cart_checkbox">
                                    <input type="checkbox" class="cart_select" data-index="{{ forloop.counter0 }}">
                                </div>
                                <div class="cart_img">
                                    <a href="#"><img src="{{ product.product_image_first }}" alt="{{ product.product_name }}"></a>
                                </div>
                                <div class="cart_info">
                                    <a href="#">{{ product.product_name }}</a>
                                    <div class="quantity_controls">
                                        <button class="decrease_quantity" data-index="{{ forloop.counter0 }}">-</button>
                                        <span class="product_quantity">1</span>
                                        <button class="increase_quantity" data-index="{{ forloop.counter0 }}">+</button>
                                    </div>
                                    <span class="price_cart">{{ product.product_price }} VND</span>
                                </div>
                                <div class="cart_remove">
                                    <a href="javascript:void(0)" class="remove_item" data-index="{{ forloop.counter0 }}">
                                        <i class="ion-android-close"></i>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal section -->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="" alt="" id="modalImage"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2 id="modalName"></h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price" id="modalPrice"></span>
                                </div>
                                <div class="see_all">
                                    <a href="#">Xem tất cả tính năng</a>
                                </div>
                                <div class="modal_add_to_cart mb-15">
                                    <form action="#">
                                        <input type="number" id="myInput" min="1" max="100" step="1">
                                        <button type="submit" id="order_button">Đặt Hàng</button>
                                    </form>
                                </div>
                                <div class="modal_description mb-15">
                                    <p id="modalDescription"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
<!-- Modal section ends -->
<script src="{% static 'app/js/cart.js' %}"></script>
<script src="{% static 'app/js/product.js' %}"></script>
<!-- Product section area ends -->
                <!-- instagram section starts -->
                <div class="instagram">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-1.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ group7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-2.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ Nhóm 7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-3.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ Nhóm 7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-4.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ Nhóm 7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-5.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ Nhóm 7</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                                <div class="instagram__item set-bg" data-bgimg="static/app/image/insta-6.jpg">
                                    <div class="instagram__text">
                                        <i class="ion-social-instagram"></i>
                                        <a href="#">@ Nhóm 7</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- blog section starts -->
        <section class="blog_section blog_black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h2>Cập nhật mới</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="blog_wrapper blog_column3 owl-carousel">
                        <div class="col-lg-4">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#"><img src="{%static 'app/image/Newudt1.jpg'%}" alt="blog 4"></a>
                                </div>
                                <div class="blog_content">
                                    <h3><a href="#">Bông tai ngày lễ</a></h3>
                                    <div class="author_name">
                                        <p>
                                            <span>by</span>
                                            <span class="themes">group7</span>
                                            <span class="post_by">/10/02/2025</span>
                                        </p>
                                    </div>

                                    <div class="post_desc">
                                        <p>Bông tai kim cương ngày lễ toát lên vẻ sang trọng và lấp lánh, thường được chế tác từ vàng trắng, bạch kim hoặc bạc cao cấp. Thiết kế đa dạng, từ đơn giản thanh lịch đến cầu kỳ như hoa tuyết, giọt nước hay ngôi sao, phù hợp với không khí lễ hội và giúp người đeo tỏa sáng trong các sự kiện đặc biệt. .</p>
                                    </div>
                                    <div class="read_more">
                                        <a href="#">Tiếp tục đọc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#"><img src="{%static 'app/image/Newudt2.jpg'%}" alt="blog 1"></a>
                                </div>
                                <div class="blog_content">
                                    <h3><a href="#">Mặt dây chuyền kim cương</a></h3>
                                    <div class="author_name">
                                        <p>
                                            <span>by</span>
                                            <span class="themes">group7</span>
                                            <span class="post_by">/10/02/2025</span>
                                        </p>
                                    </div>

                                    <div class="post_desc">
                                        <p>Dây chuyền kim cương mang vẻ đẹp tinh tế và sang trọng, thường được chế tác từ vàng trắng, bạch kim hoặc vàng 18K. Mặt dây có thể là một viên kim cương đơn hoặc thiết kế cầu kỳ như giọt nước, hoa tuyết hay hình trái tim, tôn lên nét thanh lịch và đẳng cấp cho người đeo. </p>
                                    </div>
                                    <div class="read_more">
                                        <a href="#">Tiếp tục đọc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#"><img src="{%static 'app/image/Newudt3.jpg'%}" alt="blog 2"></a>
                                </div>
                                <div class="blog_content">
                                    <h3><a href="#">Nhẫn đôi đính hôn</a></h3>
                                    <div class="author_name">
                                        <p>
                                            <span>by</span>
                                            <span class="themes">group7</span>
                                            <span class="post_by">/10/02/2025</span>
                                        </p>
                                    </div>

                                    <div class="post_desc">
                                        <p>Nhẫn đính hôn kim cương biểu tượng cho tình yêu vĩnh cửu, thường được chế tác từ vàng trắng, bạch kim hoặc vàng 18K. Thiết kế phổ biến gồm kim cương chủ lấp lánh, có thể đi kèm các viên đá nhỏ để tăng vẻ sang trọng, tinh tế và ý nghĩa. </p>
                                    </div>
                                    <div class="read_more">
                                        <a href="#">Tiếp tục đọc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#"><img src="{%static 'app/image/Newudt4.jpg'%}" alt="blog 3"></a>
                                </div>
                                <div class="blog_content">
                                    <h3><a href="#">Bông tai ngày lễ</a></h3>
                                    <div class="author_name">
                                        <p>
                                            <span>by</span>
                                            <span class="themes">group7</span>
                                            <span class="post_by">/10/02/2025</span>
                                        </p>
                                    </div>

                                    <div class="post_desc">
                                        <p>Bông tai kim cương ngày lễ toát lên vẻ sang trọng và lấp lánh, thường được chế tác từ vàng trắng, bạch kim hoặc bạc cao cấp. Thiết kế đa dạng, từ đơn giản thanh lịch đến cầu kỳ như hoa tuyết, giọt nước hay ngôi sao, phù hợp với không khí lễ hội và giúp người đeo tỏa sáng trong các sự kiện đặc biệt. </p>
                                    </div>
                                    <div class="read_more">
                                        <a href="#">Tiếp tục đọc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog section ends -->
                <!-- banner area starts  -->
                <section class="banner_section banner_section_five">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-12">
                                <div class="port-box">
                                    <div class="text-overlay">
                                        <h1>Sản phẩm mới về 2025</h1>
                                        <p>Vương miện kim cương</p>
                                    </div>
                                    <img src="{% static 'app/image/bannerft1.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="port-box">
                                    <div class="text-overlay">
                                        <h1>Sản phẩm nổi bật 2025</h1>
                                        <p>Mặt dây chuyền cho ngày Valentine</p>
                                    </div>
                                    <img src="{% static 'app/image/bannerft2.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- banner area ends -->
        
            <!-- modal section starts -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'app/image/modal1.jpg'%}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'app/image/product3.jpg'%}.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'app/image/product1.1.jpg'%}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'app/image/modal1.1.jpg'%}" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li>
                                                <a href="#tab1" class="nav-link active" data-toggle="tab" role="tab"
                                                    aria-controls="tab1" aria-selected="false"><img
                                                        src="{% static 'app/image/modal1.jpg'%}" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab2" class="nav-link" data-toggle="tab" role="tab"
                                                    aria-controls="tab2" aria-selected="false"><img
                                                        src="{% static 'app/image/product3.jpg'%}" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab3" class="nav-link button_three" data-toggle="tab"
                                                    role="tab" aria-controls="tab3" aria-selected="false"><img
                                                        src="{% static 'app/image/product1.1.jpg'%}" alt=""></a>
                                            </li>
                                            <li>
                                                <a href="#tab4" class="nav-link" data-toggle="tab" role="tab"
                                                    aria-controls="tab4" aria-selected="false"><img
                                                        src="{% static 'app/image/modal1.1.jpg'%}" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Dây chuyền nữ</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">51.164.000</span>
                                        <span class="old_price">54.164.000</span>
                                    </div>
                                    <div class="see_all">
                                        <a href="#">Xem tất cả tính năng</a>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form action="#">
                                            <input type="number" min="0" max="100" step="1">
                                            <button type="submit">Thêm vào giỏ hàng</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quibusdam
                                            nisi voluptas consequatur tempora, recusandae nemo blanditiis eaque odit
                                            voluptatibus voluptatem, ipsa incidunt fugiat a.</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this Product</h2>
                                        <ul>
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-rss"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                            <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal section ends -->

        
{% endblock %}
