{% extends "base.html" %}
{% load static %}
{% block title %}Sản Phẩm{% endblock %}
{% block sanpham %}
<section class="product_section p_section1 product_black_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="product_area">
          <div class="product_tab_button">
            <ul class="nav" role="tablist">
              <li>
                <a href="#featured" class="active" data-toggle="tab" role="tab" aria-controls="featured" aria-selected="true">Featured</a>
              </li>
              <li>
                <a href="#onsale" data-toggle="tab" role="tab" aria-controls="onsale" aria-selected="false">On-Sale</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <!-- Featured Section -->
            <div class="tab-pane fade show active" id="featured" role="tabpanel">
              <div class="product_container">
                <div class="row list_product">
                  <!-- Sản phẩm 1 -->
                  {% for product in products %}
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single_product">
                      <div class="product_thumb" data-id="{{ product.product_id }}">
                        <a href="#" class="primary_img">
                          <img src="{{ product.product_image_first }}" alt="">
                        </a>
                        <a href="#" class="secondary_img">
                          <img src="{{ product.product_image_second }}" alt="">
                        </a>
                        <div class="quick_button">
                          <a href="#" data-toggle="modal" data-target="#modal_box" data-id="{{ product.product_id }}">uick View</a>
                        </div>
                      </div>
                      <div class="product_content">
                        <div class="tag_cate">
                            <a class="product_description" href="#">{{product.product_description}}</a>
                        </div>
                        <h3><a href="#">{{ product.product_name }}</a></h3>
                        <div class="price_box">
                          <span class="current_price">{{ product.product_price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
                  <!-- Sao chép tương tự cho sản phẩm 2, 3, 4 -->
                </div>
              </div>
            </div>
            <!-- On Sale Section -->
          </div>
    <!-- modal section starts -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal_body">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-12">
                              <div class="modal_tab">
                                  <div class="tab-content product-details-large">
                                      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                          <div class="modal_tab_img">
                                            <a href="#"><img src="" alt="" id="modalImage"></a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-12">
                              <div class="modal_right">
                                  <div class="modal_title mb-10">
                                      <h2 id="modalName"></h2>
                                  </div>
                                  <div class="modal_price mb-10">
                                      <span class="new_price" id="modalPrice"></span>
                                  </div>
                                  <div class="see_all">
                                      <a href="#">See All Features</a>
                                  </div>
                                  <div class="modal_add_to_cart mb-15">
                                      <form action="#">
                                          <input type="number" id="myInput" min="1" max="100" step="1">
                                          <button type="submit" id="order_button">Đặt Hàng</button>
                                      </form>
                                  </div>
                                  <div class="modal_description mb-15">
                                      <p id = "modalDescription"></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>   
  </div>
</section> 
<script src="{%static 'app/js/product.js'%}"></script>
<script src="{%static 'app/js/sanpham.js'%}"></script>
{% endblock %}
