{% extends "base.html" %}
{% load static %}
{% block title %}Sản Phẩm{% endblock %}
{% block home %}
<body class="bg-gray-800 text-white">
  <div class="container mx-auto p-8">
    <h1 class="text-center text-3xl font-bold mb-8">Sản Phẩm Kim Cương</h1>
    <!-- Flexbox để tạo layout chia đều -->
    <div class="flex justify-center items-center min-h-screen">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <!-- Sản phẩm 1 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/1.jpg' %}" alt="Sản phẩm 1" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      
      <!-- Sản phẩm 2 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/2.jpg' %}" alt="Sản phẩm 2" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      
      <!-- Sản phẩm 3 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/3.jpg' %}" alt="Sản phẩm 3" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>

      <!-- Sản phẩm 4 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/4.jpg' %}" alt="Sản phẩm 4" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      
      <!-- Sản phẩm 5 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/5.jpg' %}" alt="Sản phẩm 55" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>

    
      <!-- Sản phẩm 6 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/6.jpg' %}" alt="Sản phẩm 6" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      <!-- Sản phẩm 7 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64  bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/7.jpg' %}" alt="Sản phẩm 77" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      
      <!-- Sản phẩm 8 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/8.jpg' %}" alt="Sản phẩm 88" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>

      <!-- Sản phẩm 9 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/9.jpg' %}" alt="Sản phẩm 99" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
      
      <!-- Sản phẩm 10 -->
      <div class="bg-white rounded-lg shadow-lg p-4 text-center w-64 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900">
        <img src="{% static 'app/image/10.jpg' %}" alt="Sản phẩm 10" class="rounded-md w-full mb-4">
        <h2 class="text-xl font-bold text-gray-200">Sản Phẩm Kim Cương</h2>
        <p class="text-gray-400 mt-2">Khám phá các sản phẩm kim cương chất lượng cao của chúng tôi.</p>
        <button class="buy-button bg-gray-600 text-gray-200 py-2 px-4 rounded-lg mt-4 hover:bg-gray-500 ">Đặt Hàng</button>
      </div>
    </div>
  </div>
  </div>
</body>
  
{% endblock %}
